html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

#home {
    padding-bottom: 0%;
}

#home img {
    width: 100%;
}

#home #container {
    position: relative;
}

#home #gradient {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to bottom, transparent 20%, black);
}

#home h1 {
    position: absolute;
    top: 70%;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    font-family: Genos;
    font-size: 450%;
    z-index: 2;
    font-style: italic;
}

#home nav {
    position: fixed;
    width: 90%;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1%;
    border-radius: 1.5rem;

    display: flex;
    gap: 10%;
    padding-left: 5%;

    background-color: rgb(80, 100, 99);
}

#home nav a {
    font-family: Genos;
    color: white;
    text-decoration: none;
    font-size: 100%;
    font-style: italic;

    transition: color 0.4s ease;
}

#home nav a:hover {
    color: orangered;
}

#home #intro {
    background-color: black;
    color: white;
    font-family: Genos;
    text-align: center;
    font-size: 180%;
    padding-bottom: 6%;
    display: inline-block;
    width: 100%;
}

#home #intro p {
    width: 48%;
    margin: auto;
}

.title {
    font-family: Genos;
    font-size: 400%;
}

/**********************************************************************************************/

#aCloserLookSection {
    padding-bottom: 20%;
}

#aCloserLookSection #aCloserLookIntro {
    position: relative;
    padding: 0;
    margin: 0;
}

#aCloserLookSection #aCloserLookIntro img {
    width: 100%;
    display: inline-block;
    padding: 0;
}

#aCloserLookSection #gradientTwo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, transparent 20%, black),
        linear-gradient(to bottom, transparent 50%, black);
}

#aCloserLookSection #limitedText {
    width: 100%;
    background-color: black;
    color: white;
    font-family: Genos;
    text-align: center;
    font-size: 180%;
    padding-bottom: 4%;

    display: inline-block;
}

#aCloserLookSection #title {
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
}

#aCloserLookSection #title h2 {
    font-family: Genos;
    margin-top: 5%;
    font-size: 200%;
}

#aCloserLookSection #ACloserLook {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    justify-items: center;
    margin: 5%;
}


.cardOne {
    position: relative;
    margin: auto;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.cardOne.visible {
    opacity: 1;
    transform: translateY(0);
}


#aCloserLookSection #ACloserLook .cardOne img {
    width: 60%;
    display: block;
    margin: auto;
}

#aCloserLookSection #ACloserLook .cardOne .cardOneGradient {
    position: absolute;
    top: 0;
    left: 20%;
    right: 0;
    bottom: 0;
    width: 60%;
    background: linear-gradient(to bottom, transparent 10%, black);
}

.cardOneText {
    font-family: Genos;
    font-size: 170%;
    width: 70%;

    opacity: 0;
    transform: translateY(20px);

    transition: opacity 2s ease, transform 2s ease;
}

.cardOneText.textVisible {
    opacity: 1;
    transform: translateY(0);
}

#aCloserLookSection #ACloserLook .cardOne h2 {
    position: absolute;
    top: 80%;
    left: 25%;
    color: white;
    font-family: Genos;
    font-size: 200%;
}

/**********************************************************************************************/

#modelCelebrationSection {
    padding-top: 10%;
}

#modelCelebrationSection #modelCelebrationIntro {
    position: relative;
}

#modelCelebrationSection #modelCelebrationIntro img {
    width: 100%;
}

#modelCelebrationSection #modelCelebrationIntro #gradientThree {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 20%, black),
        linear-gradient(to top, transparent 20%, black);
}

#modelCelebrationHeading {
    position: absolute;
    color: white;
    font-family: Genos;
    top: 5%;
    right: 10%;
    font-size: 400%;
    opacity: 0;

    transition: opacity 0.4s ease;
}

#modelCelebrationDesc {
    position: absolute;
    color: white;
    font-family: Genos;
    top: 50%;
    right: 10%;
    width: 50%;
    font-size: 150%;
    text-align: right;
    opacity: 0;

    transition: opacity 0.4s ease;
}

#modelCelebrationHeading.showModelCelebrationHeading {
    opacity: 1;
}

#modelCelebrationDesc.showModelCelebrationPara {
    opacity: 1;
}

#modelCelebrationSection #Specifications {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;

    background-color: black;
    color: white;
    font-family: Genos;
    padding-bottom: 10%;
}

#modelCelebrationSection #Specifications .cardTwo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    justify-items: center;
    align-items: center;
}

#modelCelebrationSection #Specifications .cardTwo h1 {
    font-size: 400%;
}

#modelCelebrationSection #Specifications .cardTwo h3 {
    font-size: 130%;
}

#modelCelebrationSection #SpecificationsHeading {
    background-color: black;
    display: inline-block;
    width: 97%;
    color: white;
    text-align: left;
    padding-left: 3%;
    padding-top: 7%;

    margin: 0;
}

/**********************************************************************************************/

#mechanicalBeautySection {
    padding-top: 2%;
    padding-bottom: 5%;
    background-color: black;
}

#mechanicalBeautySection #mechanicalBeautyIntro {
    display: flex;
    justify-content: space-around;
    align-items: center;

    color: white;
    font-family: Genos;
    padding-bottom: 0;
}

#mechanicalBeautySection #mechanicalBeautyIntro h3 {
    width: 40%;
    font-size: 140%;
}

#mechanicalBeautySection #mechanicalBeautyIntro h1 {
    font-size: 400%;
}

#mechanicalBeautySection #mechanicalBeautyGallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

#mechanicalBeautySection #mechanicalBeautyGallery img {
    height: 65%;

    transition: opacity 0.4s ease;
}

#mechanicalBeautySection #mechanicalBeautyGallery button {
    height: 5%;
    width: 40%;

    line-height: 2%;
    text-align: center;

    background-color: rgb(80, 100, 99);
    border: none;
    border-radius: 30%;

    transition: background-color 0.4s ease;
}

#mechanicalBeautySection #mechanicalBeautyGallery button:hover {
    background-color: orangered;
}

/**********************************************************************************************/

footer {
    color: white;
    font-family: Genos;
    background-color: black;
    padding-top: 1%;
    padding-bottom: 2%;

    text-align: center;
}

footer a {
    color: orangered;
    text-decoration: none;

}

footer a:hover {
    text-decoration: underline;
}